/* ul {
    display: flex;
    flex-wrap: wrap;
}

app-book {
    list-style: none;
    text-overflow: ellipsis;
    width: 25%;
    text-align: center;
    cursor: pointer;
    margin-bottom: 15px;
} */